@media only screen and (min-width: 768px){
    h1{
        font-size: 45px;
      }
    
      p:nth-child(2){
        font-size: 20px;
      }
    
      #container{
        height: 250px;
        width: 250px;
        border-radius: 175px;
      }
}
